.netw {
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.3s, color 0.3s;
  border-color: rgb(217, 223, 221);
}

.netw.active {
  border-color: rgb(66, 185, 131);
  color: rgb(66, 185, 131);
}

.draw {
  border: 1px solid #42b983;
  background-color: #f0f9f6;
  color: #333;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
